# .NET Core
bin/
obj/
*.user
*.suo
*.sln.docstates

# Logs
*.log

# Visual Studio
.vscode/
*.vs/
*.dbmdl

# Secrets
.env
appsettings.Development.json
appsettings.*.json

# OS specifično
.DS_Store
Thumbs.db

**/VideoApp.Tests/
**/bin/

**/obj/