<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Mux GitHub" value="https://nuget.pkg.github.com/muxinc/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <Mux_GitHub>
      <add key="Username" value="__NUGET_USERNAME__" />
      <add key="ClearTextPassword" value="__NUGET_TOKEN__" />
    </Mux_GitHub>
  </packageSourceCredentials>
</configuration>
