<configuration>
  <packageSources>
    <add key="PrivateRepo" value="https://nuget.pkg.github.com/yourusername/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <PrivateRepo>
      <add key="Username" value="__NUGET_USERNAME__" />
      <add key="ClearTextPassword" value="__NUGET_PASSWORD__" />
    </PrivateRepo>
  </packageSourceCredentials>
</configuration>
